name: CI

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: amd64
            flags: -O3 -fomit-frame-pointer
          - target: x86
            flags: -m32 -O3 -fomit-frame-pointer
    steps:
      - uses: actions/checkout@v3
      - name: Prepare
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update -q -y
          sudo apt-get install -y gcc-multilib g++-multilib valgrind libc6-dbg libc6-dbg:i386
      - name: Build
        working-directory: doc/examples
        run: |
          cc ${{ matrix.flags }} -I../.. -o libco.o -c ../../libco.c
          c++ ${{ matrix.flags }} -I../.. -c test_timing.cpp
          c++ ${{ matrix.flags }} -o test_timing libco.o test_timing.o
          c++ ${{ matrix.flags }} -I../.. -c test_args.cpp
          c++ ${{ matrix.flags }} -o test_args libco.o test_args.o
          c++ ${{ matrix.flags }} -I../.. -c test_serialization.cpp
          c++ ${{ matrix.flags }} -o test_serialization libco.o test_serialization.o
      - name: Run examples
        working-directory: doc/examples
        run: |
          ./test_args
          ./test_timing
          if ./test_serialization ; then
            (echo "Expected test_serialization to fail"; exit 98)
          fi
      - name: Run valgrind
        working-directory: doc/examples
        run: |
          ./valgrind-wrapper.sh --expect-failure ./test_args
          ./valgrind-wrapper.sh --expect-failure ./test_timing
          ./valgrind-wrapper.sh --expect-failure ./test_serialization

  build-qemu:
    name: ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: arm
            arch: armv7
          - target: aarch64
            arch: aarch64
          - target: ppc64v2
            arch: ppc64le
    steps:
      - uses: actions/checkout@v3
      - uses: uraimo/run-on-arch-action@v2
        with:
          arch: ${{ matrix.arch }}
          distro: ubuntu_latest
          install: |
            apt-get update -q -y
            apt-get install -q -y --no-install-recommends build-essential valgrind
          env: |
            target: ${{ matrix.target }}
          run: |
            cd doc/examples
            ./build.sh
            ./test_args
            ./test_timing
            if [ "$target" == "arm" ]; then
              if ./test_serialization ; then
                (echo "Expected test_serialization to fail"; exit 98)
              fi
            else
              ./test_serialization
            fi
            ./valgrind-wrapper.sh --expect-failure ./test_args
            ./valgrind-wrapper.sh --expect-failure ./test_serialization
            # test_timing not run with valgrind on qemu since it's very slow.

  build-posix:
    name: ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: setjmp
            file: sjlj.c
            defines: -D_FORTIFY_SOURCE=0
          - target: ucontext
            file: ucontext.c
            defines:
    steps:
      - uses: actions/checkout@v3
      - name: Prepare
        run: |
          sudo apt-get install -y valgrind
      - name: Build
        working-directory: doc/examples
        env:
          FLAGS: -O3 -fomit-frame-pointer
        run: |
          cc ${{ matrix.defines }} $FLAGS -I../.. -o libco.o -c ../../${{ matrix.file }}
          c++ $FLAGS -I../.. -c test_timing.cpp
          c++ $FLAGS -o test_timing libco.o test_timing.o
          c++ $FLAGS -I../.. -c test_args.cpp
          c++ $FLAGS -o test_args libco.o test_args.o
          # Serialization not supported
      - name: Run examples
        working-directory: doc/examples
        run: |
          ./test_args
          # test_timing not run for ucontext since it's very slow.
          if [ "${{ matrix.target }}" != "ucontext" ]; then
            ./test_timing
          fi
      - name: Run valgrind
        working-directory: doc/examples
        run: |
          ./valgrind-wrapper.sh --expect-failure ./test_args
          # test_timing not run for ucontext since it's very slow.
          if [ "${{ matrix.target }}" != "ucontext" ]; then
            ./valgrind-wrapper.sh --expect-failure ./test_timing
          fi

  build-windows:
    name: Windows (${{ matrix.arch }})
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, x86]
    steps:
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}
      - uses: actions/checkout@v3
      - name: Build
        working-directory: doc/examples
        run: |
          # __STDC__ required for `alignas` (or using /Za)
          cl /I ../.. /D LIBCO_MPROTECT /Zc:__STDC__ /c ../../libco.c
          cl /I ../.. test_args.cpp libco.obj
          cl /I ../.. test_timing.cpp libco.obj
          # Skip test_serialization that uses sys/mman.h
      - name: Run examples
        working-directory: doc/examples
        run: |
          ./test_args.exe
          ./test_timing.exe

  build-windows-fibers:
    name: Windows (fibers)
    runs-on: windows-latest
    steps:
      - uses: ilammy/msvc-dev-cmd@v1
      - uses: actions/checkout@v3
      - name: Build
        working-directory: doc/examples
        run: |
          # __STDC__ required for `alignas` (or using /Za)
          cl /I ../.. /D LIBCO_MPROTECT /Zc:__STDC__ /Folibco /c ../../fiber.c
          cl /I ../.. test_args.cpp libco.obj
          cl /I ../.. test_timing.cpp libco.obj
          # Skip test_serialization that uses sys/mman.h
      - name: Run examples
        working-directory: doc/examples
        run: |
          ./test_args.exe
          ./test_timing.exe

  sanitizers:
    name: ${{ matrix.sanitizer }}-sanitizer
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sanitizer: [thread, undefined, leak, address]
    steps:
      - uses: actions/checkout@v3
      - name: Build and run examples
        working-directory: doc/examples
        env:
          FLAGS: -fsanitize=${{ matrix.sanitizer }} -fno-sanitize-recover=all -fno-omit-frame-pointer
        run: |
          clang $FLAGS -I../.. -o libco.o -c ../../libco.c
          clang++ $FLAGS -I../.. -c test_timing.cpp
          clang++ $FLAGS -o test_timing libco.o test_timing.o
          clang++ $FLAGS -I../.. -c test_args.cpp
          clang++ $FLAGS -o test_args libco.o test_args.o
          clang++ $FLAGS -I../.. -c test_serialization.cpp
          clang++ $FLAGS -o test_serialization libco.o test_serialization.o
          ./test_args
          ./test_timing
          if ./test_serialization ; then
            # ASan don't like mmap() with MAP_FIXED
            (echo "Expected test_serialization to fail"; exit 98)
          fi
